/* ==UserStyle==
@name         UserStyles.world Tweaks
@namespace    userstyles.world
@description  Various tweaks for UserStyles.world that might end up being upstreamed.
@author       vednoc <vednoc@pm.me> (https://github.com/vednoc)
@homepageURL  https://github.com/userstyles-world/tweaks
@supportURL   https://github.com/userstyles-world/tweaks/issues
@updateURL    https://github.com/userstyles-world/tweaks/raw/main/tweaks.user.styl
@preprocessor stylus
@version      1.2.0
@license      MIT

@var checkbox colors  'Force dark mode' 1
@var checkbox navbar  'Enable sticky navbar' 1
@var checkbox blurry  'Enable blurry navbar style' 1
@var checkbox newBars 'Enable new styles for nav/footer bars' 1
@var checkbox monitor 'Enable dark mode for Monitor route' 1
==/UserStyle== */

// This userstyle uses Stylus-lang preprocessor.
// Complete preprocessor documentation at: https://stylus-lang.com
// Writing UserCSS: https://github.com/openstyles/stylus/wiki/Writing-UserCSS

@-moz-document domain("userstyles.world"), regexp("https?://localhost(:[0-9]+)?/.*") {
    // Stylus-lang helper variables.
    i = !important

    // Dark mode color variables.
    darkModeColors = @block {
        --bg-1: #101010
        --bg-2: #1d1d1d
        --bg-3: #2a2a2a
        --bg-4: #363636
        --bg-5: #434343
        --fg-1: #dddddd
        --fg-2: #bebebe
        --fg-3: #a0a0a0
        --fg-4: #818181
        --fg-5: #636363
        --ac-1: #679cd0
        --ac-2: #3673af
        --ac-3: #2d5f90
        --ac-4: #234a71
        --ac-5: #193652
    }

    // Embed userstyle version.
    :root {
        --version: 'version 1.2.0'

        // Feat -> Force dark mode.
        if colors {
            { darkModeColors }
        }
    }

    // Feat -> Sticky navbar.
    if navbar {
        nav {
            position: sticky
            z-index: 9
            top: 0
        }
    }

    // Feat -> Blurry navbar.
    if blurry {
        @supports (backdrop-filter: blur()) or (-webkit-backdrop-filter: blur()) {
            // Setting class conditionally. Interop new- and old-bar styles.
            class = (newBars) ? '> div[class]' : ''
            forceDark = (colors) ? i : ''

            // Generate it.
            nav { class } {
                $c = #1d1d1d
                background-color: transparentify($c, $c, 0.8) forceDark
                backdrop-filter: blur(4px) saturate(150%)
                -webkit-backdrop-filter: blur(4px) saturate(150%)

                @media (prefers-color-scheme: light) {
                    $c = #d0d0d0
                    background-color: transparentify($c, $c, 0.7)
                    background-color: #d0d0d0c0
                }
            }
        }
    }

    // Feat -> New nav/footer styles.
    if newBars {
        nav,
        footer {
            border: none
            background: none

            > div {
                padding-top: 0 !important
                padding-bottom: 0px !important
                background-color: var(--bg-2)
                box-shadow: 0 0 0 1px var(--bg-1)

                > * { padding: 1rem 0 }
            }
        }

        nav > div { border-radius: 0 0 0.5rem 0.5rem }
        body > main { min-height: calc(100vh - 120px) i }
        footer > div { border-radius: 0.5rem 0.5rem 0 0 }
    }

    // Feat -> Dark mode for Monitor route.
    if monitor {
        // Dark mode colors.
        @media (prefers-color-scheme: dark) {
            { darkModeColors }
        }

        // Change styles.
        body > .wrapper {
            padding: 30px 8px

            .row {
                padding-top: 20px
                align-items: flex-start
                border-top: 1px solid #eee
            }
        }

        // Responsive mode.
        @media (max-width: 640px) {
            h2 { width: 100% }
            .row {
                flex-direction: column i
                align-items: center i
                text-align: center i

                // Fix 'memory usage' text.
                .column:first-child { width: unset }
            }
        }

        // Dark mode tweaks.
        @media (prefers-color-scheme: dark) {
            html { scrollbar-color: var(--bg-5) var(--bg-2) }
            body {
                color: var(--fg-1)
                background-color: var(--bg-1)

                .wrapper {
                    .row { border-color: var(--bg-3) }
                    .metric { color: var(--fg-5) }
                }

                // Invert colors for graphs.
                canvas { filter: invert() hue-rotate(180deg) }
            }
        }
    }
}
